@font-face {
  font-family: 'FoundersGrotesk-Semibold';
  src: url(./FoundersGrotesk-Semibold.ttf) format('truetype');
}

[data-scroll-container] {
  overflow: hidden;
}

[data-scroll-section] {
  position: relative;
}